$font-family: 'Montserrat', sans-serif;
$second-family: 'Seymour One', sans-serif;
$third-family: 'Inter', sans-serif;
$fourth-family: 'DM Sans', sans-serif;

$light-txt-color: rgba(252, 252, 252, 1);
$time-color: rgba(171, 171, 171, 1);
$accent-color: rgba(248, 210, 78, 1);
$light-accent-color: rgba(248, 210, 78, 0.7);
$dark-btn-txt-color: rgba(0, 0, 0, 1);
$btn-hover: rgba(10, 136, 23, 1);
$dark-txt-color: rgba(19, 19, 19, 1);
$bg-color: rgba(132, 161, 120, 1);
$card-orange-bg: rgba(214, 147, 109, 1);
$yellow-card-bg: rgba(239, 212, 120, 1);
$green-bg-color: rgba(174, 198, 165, 1);
$card-shadow-color: rgba(212, 20, 67, 0.1);
$copy-color: rgba(122, 122, 122, 1);
$card-rect-shadow-green: rgba(10, 136, 23, 0.25);
$card-rect-shadow-yellow: rgba(153, 114, 23, 0.25);
$card-rect-shadow-brown: rgba(0, 0, 0, 0.25);
$card-rect-bg-yellow: rgba(248, 210, 78, 1);
$card-rect-bg-green: rgba(156, 190, 143, 0.7);
$card-rect-bg-brown: rgba(213, 117, 63, 0.7);
$rect-light-bg-color: rgba(217, 217, 217, 1);
$first-product-card-shadow: rgba(212, 20, 67, 0.1);
$buy-green-border: rgba(150, 175, 140, 1);
$input-bg: rgba(248, 210, 78, 0.1);
$buy-wrapper-shadow: rgba(10, 136, 23, 0.25);
$buy-wrapper-yellow-bg: rgba(248, 210, 78, 0.7);
$burger-line-color: rgba(255, 255, 255, 1);
