@use '../utils/placeholders' as *;
@use '../utils/variables' as *;
@use '../utils/mixins' as *;
iframe {
	width: 448px;
}

.cards {
	background-color: $bg-color;
	color: $dark-txt-color;
	font-family: $font-family;
	// padding-bottom: 120px;

	&__container {
		padding-bottom: 120px;
		position: relative;
		display: flex;
		justify-content: center;
	}

	&__list {
		display: flex;
		justify-content: center;
		position: absolute;
		flex-wrap: wrap;
		gap: 32px;

		transform: translateY(-128px);
	}
	&__modal {
		padding-inline: 60px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 32px;
	}

	&__modal-title {
		font-family: $second-family;
		color: $dark-txt-color;
		font-size: 20px;
		text-align: center;
		padding-top: 12px;
	}

	&__modal-button {
		padding: 12px 34px;
		border-radius: 10px;
		background-color: $accent-color;
		border: none;
		display: flex;
		align-items: center;
		gap: 5px;
		font-weight: 600;
		text-align: center;
		margin-bottom: 12px;
		transition: background-color ease-in 0.3s;

		&:hover,
		&:focus {
			background-color: $btn-hover;
			color: #fff;
			fill: #fff;
		}
	}
}

.card {
	background-color: #fff;
	border-radius: 24px;
	padding: 40px;
	flex-basis: calc((100% - 64px) / 3);
	display: flex;
	flex-direction: column;
	max-width: 368px;
	align-items: flex-start;

	&__title {
		background-color: $accent-color;
		border-radius: 6px;
		text-align: center;
		padding: 4px 14px;
		font-weight: 500;
		margin-bottom: 32px;
		line-height: 140%;
	}

	&__city {
		font-size: 16px;
		font-weight: 500;
		padding-bottom: 8px;
		line-height: 1.86;
	}

	&__address {
		color: $card-orange-bg;
		margin-bottom: 32px;
		line-height: 1.83;
		font-weight: 500;
		font-size: 16px;

		&:hover {
			text-decoration: underline;
		}
	}

	&__schedule {
		width: 100%;
		padding: 32px 0;
		display: flex;
		flex-direction: column;
		gap: 12px;
		border-top: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;
		margin-bottom: 24px;

		p {
			font-weight: 500;
			line-height: 1.86;
			font-size: 16px;
			display: flex;
			flex-direction: column;
			color: $time-color;

			span {
				color: $dark-txt-color;
			}
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		gap: 8px;

		a {
			font-weight: 500;
			font-size: 16px;
			line-height: 1.5;
			color: $dark-txt-color;
		}
	}
}

.cards__actions {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 474px;
	gap: 16px;

	// @media (max-width: 871px) {
	// 	padding-top: 1085px;
	// }

	// @media (max-width: 742px) {
	// 	padding-top: 855px !important;
	// }

	// @media (max-width: 495px) {
	// 	padding-top: 1385px !important;
	// }
}

.cards__button {
	@include button(12px 40px);

	&--primary {
		background-color: $accent-color;

		&:hover,
		&:focus {
			background-color: $btn-hover;
			color: #fff;
			fill: #fff;
		}
	}

	&--secondary {
		@include button(12px 55px);
		background-color: transparent;
		border: 2px solid $accent-color;
		color: $dark-btn-txt-color;

		&:hover,
		&:focus {
			border-color: $btn-hover;
			color: #fff;
			fill: #fff;
		}
	}
}

// @media (max-width: 1199px) {
//   .cards {
//     &__container {
//       padding-bottom: 40px;
//     }
//     &__list {
//       gap: 16px;
//       transform: translateY(-299px);
//     }
//   }

//
//   }
// }

@media (max-width: 768px) {
	iframe {
		width: 224px;
	}
	.cards__modal {
		padding-inline: 28px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 22px;
		
	}
	.cards__list {
		gap: 16px;
		transform: translateY(-299px);
	}
	.card {
		max-width: 224px;

		padding: 40px 24px;

		&__city {
			font-size: 14px;
		}
		&__address {
			font-size: 14px;
			width: 176px;
		}

		&__schedule p {
			font-size: 14px;
		}

		&__contacts a {
			font-size: 14px;
		}
	}
	.cards__actions {
		padding-top: 303px;
	}
}

@media (max-width: 480px) {
	.cards__list {
		gap: 16px;
		transform: translateY(-349px);
	}
	.cards {
		&__container {
			padding-bottom: 60px;
		}
	}
	.card {
		max-width: 280px;

		padding: 40px 32px;

		&__title {
			font-size: 12px;
			margin-bottom: 20px;
			padding: 4px 22px;
		}

		&__city {
			font-size: 12px;
		}
		&__address {
			font-size: 12px;
			width: 216px;
			margin-bottom: 24px;
		}

		&__schedule p {
			font-size: 12px;
		}

		&__contacts a {
			font-size: 12px;
		}
		&__schedule {
			padding: 24px 0;
			gap: 8px;
		}

		&__contacts a {
			font-size: 12px;
		}
	}

	.cards__actions {
		flex-direction: column;
		padding-top: 1040px !important;
	}
}
