@use '../utils/placeholders' as *;
@use '../utils/variables' as *;

.footer {
	background-color: $bg-color;
	font-family: $font-family;

	&__subtitle {
		font-size: 30px;
		text-transform: uppercase;
		padding-bottom: 14px;
	}

	&__title {
		@extend %title;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		padding-bottom: 60px;
		border-bottom: 1px solid rgba(225, 225, 225, 1);
	}

	&__social-list {
		display: flex;
		justify-content: flex-end;
		gap: 30px;
		padding-top: 18px;
		padding-bottom: 40px;
	}

	&__social-item {
		background-color: $accent-color;
		height: 34px;
		width: 34px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__social-icon {
		width: 20px;
		height: 20px;
		fill: $bg-color;
		transition: 0.3s ease-out;

		&:hover {
			fill: $light-txt-color;
		}

		&:focus {
			fill: $light-txt-color;
		}
	}

	&__text {
		font-weight: 700;
		color: $dark-txt-color;
		text-align: right;
		text-wrap: nowrap;
	}

	&__contact {
		color: #fff;
	}

	&__bottom {
		padding: 12px 0;
	}

	&__copyright {
		text-align: center;
		font-size: 12px;
		font-weight: 700;
		color: $copy-color;
	}
}

@media (max-width: 768px) {
	.footer {
		&__subtitle {
			font-weight: 700;
			font-size: 26px;
		}

		&__title {
			font-size: 48px;
		}

		&__social-list {
			padding-bottom: 34px;
		}

		&__copyright {
			font-size: 14px;
		}
	}
}

@media (max-width: 480px) {
	.footer {
		&__container {
			padding-bottom: 40px;
			flex-wrap: wrap;
			gap: 60px;
			justify-content: end;
		}

		&__contacts {
			align-items: flex-end;
		}

		&__subtitle {
			font-size: 18px;
		}

		&__info {
			width: 100%;
			text-align: left;
		}

		&__title {
			font-size: 34px;
		}

		&__social-list {
			padding-bottom: 20px;
			gap: 20px;
		}

		&__text {
			font-size: 12px;
			font-weight: 700;
		}

		&__bottom {
			padding: 20px 0;
			display: flex;
			justify-content: center;
		}

		&__copyright {
			font-size: 14px;
			max-width: 280px;
		}
	}
}
