@use '../utils/placeholders' as *;
@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.how-made {
	background-color: $bg-color;
	padding-top: 60px;
	padding-bottom: 178px;

	&__subtitle {
		font-family: $font-family;
		font-size: 30px;
		font-weight: 800;
		text-transform: uppercase;
		text-align: center;
	}

	&__title {
		font-family: $second-family;
		font-size: 36px;
		font-weight: 400;
		text-transform: uppercase;
		padding-top: 12px;
		padding-bottom: 82px;
		text-align: center;
	}

	&__content {
		display: flex;
		gap: 109px;
		align-items: center;
		padding-bottom: 60px;
		// flex-wrap: wrap;
	}

	&__image-wrapper {
		position: relative;
		width: 490px;
		height: 490px;

		&::before {
			content: '';
			position: absolute;
			top: -40px;
			left: 50%;
			transform: translateX(-50%);
			width: 490px;
			height: 490px;
			background: $light-accent-color;
			border-radius: 50%;
			z-index: 1;
		}
	}

	&__image {
		width: 490px;
		height: 490px;
		border-radius: 50%;
		object-fit: cover;
		position: relative;
		z-index: 2;
		max-width: none;
	}

	&__text-wrapper {
		max-width: 463px;
		font-family: $font-family;
		line-height: 1.76;
		font-size: 16px;
		gap: 8px;
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	&__button {
		margin-top: 54px;
		@include button(12px 34px);

		&:hover,
		&:focus {
			background-color: $btn-hover;
			color: #fff;
			fill: #fff;
		}
	}

	&__stats {
		display: flex;
		justify-content: space-between;
	}

	&__stat {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__stat-title {
		@extend %title;
		text-transform: none;
		padding-top: 40px;
	}

	&__stat-text {
		font-size: 16px;
		font-weight: 400;
		color: $light-txt-color;
		max-width: 368px;
		text-align: center;
		padding-top: 12px;
		line-height: 1.76;
	}

	&__icon {
		background-color: $card-rect-bg-yellow;
		border-radius: 50%;
		display: flex;
		width: 50px;
		height: 50px;
		align-items: center;
		justify-content: center;
	}

	&__modal {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 32px;
		padding: 20px 18px;
	}

	&__modal-title {
		font-family: $second-family;
		color: $dark-txt-color;
		font-size: 20px;
		text-align: center;
		padding-top: 12px;
	}

	&__video {
		background-color: #000;
		width: 100%;
		height: 205px;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__modal-play-icon {
		fill: #fff;
	}

	&__modal-text {
		font-family: $font-family;
		color: $dark-txt-color;
		line-height: 140%;
		font-size: 16px;
		padding-bottom: 12px;
	}
}

@media (max-width: 768px) {
	.how-made {
		&__subtitle {
			font-size: 22px;
		}

		&__title {
			font-size: 34px;
		}

		&__image-wrapper {
			width: 330px;
			height: 330px;

			&::before {
				top: -26px;
				width: 330px;
				height: 330px;
			}
		}

		&__image {
			width: 330px;
			height: 330px;
		}

		&__content {
			gap: 38px;
		}

		&__text {
			font-size: 12px;
			max-width: 338px;
		}

		&__stat-title {
			font-size: 48px;
			padding-top: 32px;
		}

		&__stat-text {
			font-size: 14px;
			max-width: 152px;
		}
	}
}

@media (max-width: 480px) {
	.how-made {
		padding-bottom: 81px;
		&__container {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__subtitle {
			font-size: 18px;
			font-weight: 700;
		}

		&__title {
			font-size: 30px;
			max-width: 200px;
			padding-bottom: 54px;
		}

		&__image-wrapper {
			width: 279px;
			height: 279px;

			&::before {
				top: -26px;
				width: 279px;
				height: 279px;
			}
		}

		&__image {
			width: 279px;
			height: 279px;
		}

		&__content {
			flex-direction: column;
			gap: 40px;
		}

		&__text-wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__text {
			max-width: 220px;
			text-align: center;
		}

		&__button {
			margin-top: 24px;
		}

		&__stats {
			flex-direction: column;
			gap: 32px;
		}

		&__stat-title {
			font-size: 36px;
			padding-top: 32px;
		}

		&__stat-text {
			font-size: 12px;
			max-width: 230px;
		}
	}
}
