@use '../utils/placeholders' as *;
@use '../utils/variables' as *;
@use '../utils/mixins' as *;

@media (min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
	.products {
		background-image: url(../images/ice-creams-bg@2x.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.products {
	background-image: url(../images/ice-creams-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 58px;
	padding-bottom: 60px;

	&__title {
		font-family: $second-family;
		color: $dark-txt-color;
		font-size: 36px;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		padding-top: 12px;
		padding-bottom: 303px;
		text-align: center;
		line-height: 45px;
	}

	&__subtitle {
		color: $dark-txt-color;
		font-size: 30px;
		font-weight: 800;
		text-transform: uppercase;
		text-align: center;
		line-height: 37px;
	}

	&__list {
		display: flex;
		gap: 29px;
		justify-content: center;
	}

	&__item {
		padding: 165px 62px 62px 60px;
		background-color: $green-bg-color;
		position: relative;
		text-align: center;
		border-radius: 24px;
		box-shadow: 0px 8px 30px 0px $first-product-card-shadow;

		&--yellow {
			background-color: $yellow-card-bg;
			box-shadow: none;
		}

		&--brown {
			background-color: $card-orange-bg;
			box-shadow: none;
		}

		&-wrapper {
			position: absolute;
			top: -183px;
			left: 34px;
			background-color: $rect-light-bg-color, $card-rect-bg-green;
			box-shadow: 0px 8px 30px 0 $card-rect-shadow-green;
			border-radius: 100%;
			width: 302px;
			height: 302px;

			&--yellow {
				box-shadow: 0px 8px 30px 0px $card-rect-shadow-yellow;
			}

			&--brown {
				box-shadow: 0px 8px 30px 0px $card-rect-shadow-brown;
			}
		}

		&-title {
			color: $dark-txt-color;
			font-size: 30px;
			text-transform: uppercase;
			font-weight: 700;
			padding-bottom: 66px;
		}
	}

	&__img {
		position: absolute;
		bottom: 16px;
		border-radius: 100%;
	}

	&__desc {
		font-size: 16px;
		line-height: 1.76;
		color: $dark-txt-color;
		width: 246px;
		margin: 0 auto;
		padding-bottom: 50px;

		&--first {
			padding-bottom: 87px;
		}
	}

	&__link {
		display: flex;
		justify-content: center;
	}

	&__icon {
		fill: $dark-txt-color;
		width: 40px;
		height: 16px;
	}

	&__modal {
		padding-left: 28px;
		padding-right: 28px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__modal-title {
		padding: 12px 0 24px 0;
	}

	&__modal-wrapper {
		background: linear-gradient(
				0deg,
				rgba(156, 190, 143, 0.7),
				rgba(156, 190, 143, 0.7)
			),
			linear-gradient(0deg, #d9d9d9, #d9d9d9);
		box-shadow: 0px 5.26px 19.73px rgba(10, 136, 23, 0.25);
		border-radius: 50%;
		padding-bottom: 10px;
	}

	&__modal-img {
		width: 132px;
		height: 132px;
		border-radius: 50%;
		object-fit: cover;
	}

	&__modal-list {
		padding-top: 24px;
		padding-bottom: 48px;
		display: flex;
		color: $dark-txt-color;
		gap: 20px;
	}

	&__modal-item {
		border: $card-rect-bg-green 2px solid;
		border-radius: 40px;
		display: flex;
		flex-direction: column;
		padding: 0 3px;
	}

	&__modal-nutrition {
		background-color: $card-rect-bg-green;
		font-family: $font-family;
		font-weight: 500;
		border-radius: 50%;
		width: 53px;
		padding-top: 12px;
		padding-bottom: 12px;
		line-height: 28px;
		text-align: center;
		font-size: 12px;
		box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
	}

	&__modal-desc {
		font-size: 12px;
		text-align: center;
		font-family: $font-family;
		padding-bottom: 15px;
		padding-top: 5px;
	}

	&__modal-ingredients {
		display: flex;
		flex-direction: column;
		gap: 11px;
		padding-bottom: 48px;
		width: 100%;

		&__title {
			font-family: $font-family;
			color: $dark-txt-color;
			font-size: 20px;
			padding-bottom: 24px;
		}

		&__item {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__desc {
			color: $dark-txt-color;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 0.04em;
			line-height: 1.76em;
		}
	}

	&__modal-form {
		display: flex;
		gap: 16px;
		flex-direction: column;
		padding-bottom: 32px;
	}

	&__modal-input {
		width: 368px;
		padding: 11px 16px;
		border: 1px solid $bg-color;
		border-radius: 10px;
		background-color: $input-bg;
		margin: 0 auto;

		&::placeholder {
			font-size: 14px;
			line-height: 1.4em;
			letter-spacing: 0;
			color: $dark-txt-color;
			font-weight: 400;
		}
	}

	&__modal-textarea {
		margin: 0 auto;
		border: 1px solid $bg-color;
		border-radius: 10px;
		background-color: $input-bg;
		width: 368px;
		padding: 11px 16px;
		height: 84px;
		resize: none;

		&::placeholder {
			font-size: 14px;
			line-height: 1.4em;
			letter-spacing: 0;
			color: $dark-txt-color;
			font-weight: 400;
		}
	}

	&__modal-button {
		display: flex;
		margin: 0 auto;
		background-color: $accent-color;
		border: 0;
		border-radius: 10px;
		padding: 12px 34px;
		color: $dark-txt-color;
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 0;
	}
}

/*================== MEDIA QUERIES ==================*/
@media (max-width: 768px) {
	.products {
		&__title {
			font-size: 34px;
			padding-bottom: 200px;
			background-image: url(../images/ice-creams-bg-tablet.png);
			line-height: 43px;
		}

		&__subtitle {
			font-size: 22px;
			line-height: 27px;
		}

		&__list {
			gap: 16px;
		}

		&__item {
			padding-inline: 26px;
			padding-top: 108px;
			padding-bottom: 12px;

			&-wrapper {
				width: 200px;
				height: 200px;
				position: absolute;
				top: -120px;
				left: 11px;

				&--yellow {
					box-shadow: 0px 5px 19px 0 $card-rect-shadow-yellow;
				}

				&--brown {
					box-shadow: 0px 5px 19px 0 $card-rect-shadow-brown;
				}
			}

			&-title {
				font-size: 22px;
				padding-bottom: 40px;
				line-height: 27px;
			}
		}

		&__desc {
			font-size: 14px;
			width: 172px;
			line-height: 25px;

			&--first {
				padding-bottom: 100px;
			}

			&--third {
				padding-bottom: 75px;
			}
		}

		&__img {
			bottom: 12px;
		}
	}
	@media (min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
		.products {
			background-image: url(../images/ice-creams-bg-tablet@2x.png);
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}

@media (max-width: 480px) {
	.products {
		&__modal {
			padding: 20px;
		}

		&__modal-title {
			font-size: 20px;
		}
		&__modal-list {
			gap: 9px;
			padding-bottom: 40px;
		}
		&__modal-nutrition {
			font-size: 10px;
			width: 43px;
			height: 43px;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&__modal-desc {
			font-size: 10px;
			padding-bottom: 10px;
		}

		&__modal-ingredients__item .modal__desc {
			font-size: 14px;
		}
		background-image: url(../images/ice-creams-bg-small.png);

		&__title {
			font-size: 30px;
			padding-bottom: 150px;
			line-height: 38px;
		}

		&__subtitle {
			font-size: 18px;
			line-height: 22px;
		}

		&__list {
			gap: 168px;
			flex-direction: column;
			justify-content: center;
		}

		&__item {
			padding-inline: 60px;
			padding-top: 126px;
			padding-bottom: 16px;
			margin: 0 auto;

			&--brown,
			&--yellow {
				padding-top: 123px;
			}

			&--brown {
				padding-inline: 71px;
			}

			&-wrapper {
				width: 200px;
				height: 200px;
				position: absolute;
				top: -105px;
				left: 60px;

				&--yellow {
					box-shadow: 0px 5px 20px 0 $card-rect-shadow-yellow;
				}

				&--brown {
					box-shadow: 0px 5px 20px 0 $card-rect-shadow-brown;
				}
			}

			&-title {
				font-size: 20px;
				line-height: 24px;

				&--third {
					line-height: 20px;
				}
			}
		}

		&__desc {
			font-size: 14px;
			padding-bottom: 61px;
			width: 200px;
			margin: 0;
			line-height: 24.5px;

			&--first {
				padding-bottom: 106px;
				line-height: 25px;
			}
			&--third {
				max-width: 178px;
				line-height: 25px;
				padding-bottom: 63px;
			}
		}

		&__img {
			bottom: 12px;
		}
	}

	@media (min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
		.products {
			background-image: url(../images/ice-creams-bg-small@2x.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}

@media (max-width: 320px) {
	.products {
		padding-bottom: 60px;

		&__item {
			padding-inline: 40px;
			padding-top: 123px;

			&-wrapper {
				left: 40px;
			}
		}

		&__desc {
			padding-bottom: 53px;
			max-width: 200px;

			&--first {
				padding-bottom: 101px;
			}

			&--third {
				padding-bottom: 55px;
			}
		}
	}
}
