@use '../utils/placeholders' as *;
@use '../utils/variables' as *;

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
	transition: opacity 300ms ease;
}

.modal {
	background-color: #fff;
	border-radius: 12px;
	padding: 20px 60px;
	overflow-y: auto;
	position: relative;
	max-height: 674px;
	overflow-x: hidden;

	&__button {
		display: flex;
		margin: 0 auto;
		margin-top: 16px;
		background-color: $accent-color;
		border: 0;
		border-radius: 10px;
		padding: 12px 34px;
		color: $dark-txt-color;
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 0;
		line-height: 18px;
	}

	&__desc {
		color: $dark-txt-color;
		font-size: 16px;
		font-family: $font-family;
		width: 448px;
		letter-spacing: 0;
		line-height: 1.4em;
	}

	&__input,
	&__textarea {
		width: 368px;
		padding: 11px 16px;
		border: 1px solid $bg-color;
		border-radius: 10px;
		background-color: $input-bg;
		margin: 0 auto;
		line-height: 20px;
	}

	&__input::placeholder,
	&__textarea::placeholder {
		font-size: 14px;
		color: $dark-txt-color;
		font-weight: 400;
	}

	&__textarea {
		height: 84px;
		resize: none;
	}

	&__form {
		display: flex;
		gap: 16px;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		font-family: $second-family;
		color: $dark-txt-color;
		font-size: 20px;
		text-align: center;
		letter-spacing: 0;
	}

	&__close-btn {
		position: absolute;
		right: 12px;
		top: 12px;
		background: none;
		border: none;
		cursor: pointer;

		&__icon {
			width: 24px;
			height: 24px;
		}
	}
}

.modal__close-btn:hover svg {
	transform: rotate(90deg);
}

.no-scroll {
	overflow: hidden;
}

.is-hidden {
	visibility: hidden;
}

@media (max-width: 480px) {
	.modal {
		&__close-btn__icon {
			width: 20px;
			height: 20px;
		}
		&__title {
			font-size: 16px;
			line-height: 24px;
		}
		&__button {
			font-size: 12px;
			line-height: 18px;
			margin-top: 12px;
		}
		&__input,
		&__textarea {
			padding: 8px 12px;
			width: 224px;
			height: 32px;
			line-height: 17px;
		}
		&__textarea {
			height: 64px;
		}
		&__input::placeholder,
		&__textarea::placeholder {
			font-size: 12px;
		}
		&__form {
			gap: 12px;
			margin: 0 auto;
		}
		&__desc {
			font-size: 14px;
			width: 222px;
			line-height: 20px;
		}
	}
}
